{% extends 'base.html' %} 
{% block content %} <br/>
<h1 id="h1_contribute">Original Text:</h1><br/><br/>
<h2>{{ orig.hard_text }}</h2><br/>
<h2 id="h3_color">Simplify it:</h2>
<form name="input simplified text" method="POST" >{% csrf_token %}
    {{ form.as_p }}<br/>
    <input type="submit" value="submit"  />
</form><br /><HR/>
{% if results %}
<h2 id="h3_color">Other simplified version:</h2>

<form name="vote for results" method="POST" >{% csrf_token %}
    {% for result in results %}
    <h3><input type="checkbox" value={{ result }} name="votes">  {{ result.simple_text }}   </input><a href="{% url 'edit_simp' pk=result.id %}">edit</a></h3>
    {% endfor %}
    <br/>
    <input type="submit" value="Vote" />
</form>
{% endif %}
<br/>
{% endblock content %}
